* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
}

body {
  background-image: url(imagens/fundo-madeira.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100vh;
  position: relative;
}

.telefone {
  width: 311px;
  height: 627px;
  background-image: url(imagens/frame-iphone.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

iframe.tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 267px;
  height: 471px;
}

.redessociais {
  display: flex;
  flex-direction: column;
}

section.redessociais img:hover {
  border: 2px solid rgba(255, 255, 255, 0.603);
  transform: translate(4px, 4px);
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.548);
  transition: transform 0.4s;
}

section.redessociais img:active {
  color: rgba(128, 128, 128, 0.445);
}

section.redessociais img {
  width: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
  box-sizing: border-box;
}
